body
{
    background: url('http://static.allbackgrounds.com/bg/cassette.jpg');
    background-position: center center;
    transition: background-image 10s ease-in-out;
}

.pageContainer
{
   display: flex;
   flex-flow: column wrap;
   margin-top: 20px;
}

.pageContainer > .row
{
    flex: 1;
    display: flex;
}

nav
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.journalCol
{
    background: green;
    border: 5px solid black;
    flex: 1;
    margin: 10px auto;
    height: 82vh;
    justify-content: flex-start;
}

.searchCol
{
    background: yellow;
    border: 5px solid black;
    flex: 1;
    margin: 10px auto;
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.searchCriteria
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.journalEntries
{
    display: flex;
    flex-direction: column;
    text-align: center;
}



/* @media(575) */
/*broken breakpoint*/




