.container-fluid .pageContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.searchCriteria
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-flow: row wrap;
}

.moodCol
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsCol
{
    flex: 1;
}

.resultsCol > p
{
    padding-top: 25px;
    font-size: 22px;
}



