body {
  background-image: url("https://image.shutterstock.com/z/stock-vector-geometric-seamless-pattern-background-with-audio-cassette-in-retro-s-s-style-memphis-trendy-526322845.jpg");
}

nav {
  background-color: black;
  
}

.nav-link {
  color: rgb(9, 140, 255)
}

.jumbotron-fluid {
  height: 100px;
  font-weight: bolder;
  color: rgb(221, 6, 6);
  text-align: center;
  background: rgba(77, 77, 77, 0);
}

.modal-content {
  height: 300px;
  width: 400px;
  background-image: url("https://cdn.dribbble.com/users/248947/screenshots/1428355/screen_shot_2014-02-18_at_8.30.17_am.png")
}

.col-4 {
  background-color: rgb(0, 0, 0);
  width: 400px;
  height: 500px;
}

.saved {
  color: aliceblue;
}